{% extends "base.html" %}
{% block content %}

<h1>Hi, {{g.user.nickname}}!</h1>

<form action="" method="post" name="post">
    {{form.hidden_tag()}}
    <p>
        <label for="post">Say something:</label>
    </p>
    <p>
        {{form.post(size=30, maxlength=140)}}
    </p>
    {% for error in form.errors.post %}
    <span class="error">[{{error}}]</span><br>
    {% endfor %}

    <input type="submit" value="Post!">
</form>

{% for post in posts.items %}
    {% include "post.html" %}
{% endfor %}

<hr>

<div class="newer_posts">
    {% if posts.has_prev %}
    <a href="{{ url_for('index', page=posts.prev_num) }}">Newer Posts</a>
    {% endif %}
</div>

<div class="older_posts">
    {% if posts.has_next %}
    <a href="{{ url_for('index', page=posts.next_num) }}">Older Posts</a>
    {% endif %}
</div>

<div class="clear"></div>

{% endblock %}
