{% extends "base.html" %}
{% block content %}
<div class="main_avatar">
    <img src="{{user.avatar(128)}}" alt="{{user.nickname}}" />
</div>
<div class="profile_content">
    <h1>User: {{user.nickname}}</h1>
    {% if user.about_me %}<p>
        {{user.about_me}}
    </p>
    {% endif %}
    {% if user.last_seen %}
    <p>
        <i>Last seen on: {{user.last_seen}}</i>
    </p>
    {% endif %}
    <p>
        {# Since every user technically follows themselves,
            we're decrementing the displayed follower count by 1 #}
        {{user.followers.count() - 1}} followers |
    {% if user.id == g.user.id %}
        <a href="{{ url_for('edit') }}">Edit Your Profile</a>
    {% elif not g.user.is_following(user) %}
        <a href="{{ url_for('follow', nickname=user.nickname) }}">Follow</a>
    {% else %}
        <a href="{{ url_for('unfollow', nickname=user.nickname )}}">Unfollow</a>
    {% endif %}
    </p>


</div>
<div class="clear"></div>
<hr>
{% for post in posts.items %}
    {% include "post.html" %}
{% endfor %}

<hr>

<div class="newer_posts">
    {% if posts.has_prev %}
    <a href="{{ url_for('user', nickname=user.nickname, page=posts.prev_num) }}">Newer Posts</a>
    {% endif %}
</div>

<div class="older_posts">
    {% if posts.has_next %}
    <a href="{{ url_for('user', nickname=user.nickname, page=posts.next_num) }}">Older Posts</a>
    {% endif %}
</div>

<div class="clear"></div>

{% endblock %}
